.app-container{
position: relative;
width: 550px;
height: 550px;
background: whitesmoke;
}

.navbar-container {
position: absolute;
display:flex;
width: 550px;
height: 65px;
left: 0px;
top: 0px;
align-items: center;
justify-items: center;
justify-content: center ;
gap:10px;
box-shadow:1px -1px darkgray;
background: linear-gradient(90deg, #282280 1.18%, #4875d6 100%);
border-radius: 10px 10px 0px 0px;
}

.logo{
    height:35px;
    width:35px;
    
}

.logo-text {
    font-family: Lato;
    font-weight: 900;
    font-size:35px;
    color:whitesmoke;
    text-shadow:1px 2px darkblue;
    
}

.first-input {
position: absolute;
width: 230px;
height: 35px;
left: 36px;
top: 101px;
}

.second-input {

position: absolute;
width: 230px;
height: 35px;
left: 283px;
top: 101px;
}

.btn-submit {

position: absolute;
/* width: 477px; */
text-align:center;
font-family: Lato;
font-size: 14px;;
font-weight: 400;
width: 238px;
height: 40px;
left: 155px;
top: 161px;
background: linear-gradient(90deg, #282280 1.18%, #4875d6 100%);
color:whitesmoke;
border-radius: 10px 10px 10px 10px;
border:none;
box-shadow:1px -1px darkgray;
}

.meme-container {
position: absolute;
width: 477px;
height: 268px;
left: 36px;
top: 227px;
border-radius: 2px;
filter:brightness(100%);
}