@font-face {
    font-family: "Impact New";   /*Can be any text*/
    src: local("Impact"),
      url("./font/impact.ttf") format("truetype");
  }
body {
   width: auto;
    height: auto;
}  

.app-container{
position:relative;
width: 550px;
height: 550px;
background: whitesmoke;
}

.navbar-container {
position: absolute;
display:flex;
width: 550px;
height: 65px;
left: 0px;
top: 0px;
align-items: center;
justify-items: center;
justify-content: center ;
gap:10px;
box-shadow:1px -1px darkgray;
background: linear-gradient(90deg, #282280 1.18%, #4875d6 100%);
border-radius: 10px 10px 0px 0px;
}

.logo{
    height:35px;
    width:35px;
    
}

.logo-text {
    font-family: Impact, sans-serif;
    font-weight: 900;
    font-size:35px;
    color:whitesmoke;
    text-shadow:1px 2px darkblue;
    
}

.first-input {
position: absolute;
width: 230px;
height: 35px;
left: 36px;
top: 101px;
}

.second-input {

position: absolute;
width: 230px;
height: 35px;
left: 283px;
top: 101px;
}

.btn-submit {

position: absolute;
/* width: 477px; */
text-align:center;
font-family: Lato;
font-size: 14px;;
font-weight: 400;
width: 238px;
height: 40px;
left: 155px;
top: 161px;
background: linear-gradient(90deg, #282280 1.18%, #4875d6 100%);
color:whitesmoke;
border-radius: 10px 10px 10px 10px;
border:none;
box-shadow:1px -1px darkgray;
}

.meme-container {
position: absolute;
display:flex;
width: 477px;
height: 268px;
left: 36px;
top: 227px;
border-radius: 2px;
filter:brightness(70%);
min-height:268px;
min-width:477px;
}

.firstmeme{
    position:absolute;
    width:440px;
    text-shadow: dimgrey;
    height:50px;
    font-size:xx-large;
    top:250px;
    left:60px;
    text-transform: uppercase; 
    font-family: Impact, Haettenschweiler, sans-serif;
    color:white;
    text-decoration: solid black;
    font-weight: 900;
    text-align: center;
    filter:brightness(150%);
    

}

.secondmeme {
    position:absolute;
    width:440px;
    text-shadow: dimgrey;
    height:50px;
    top:390px;
    left:60px;
    text-transform: uppercase; 
    font-family:Impact;
    color:white;
    text-decoration: solid black;
    text-align: center;
    font-weight: 900;
    filter:brightness(150%);
    
}
